<div
  class="container"
  [ngStyle]="{ 'background-image': 'url(~src/codingBlog/src/assets/galaxy.jpg)'}"
  appBackgroundImage
  (imageLoaded)="loaded()"
>

  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Login</h3>
      </div>
      <div class="card-body">
        <form (submit)="validateLogin()">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fas fa-user fa-lg"></i
              ></span>
            </div>
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
              [(ngModel)]="credentials.email"
            />
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fas fa-unlock fa-lg"></i
              ></span>
            </div>
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
              [(ngModel)]="credentials.password"
            />
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox" />Remember Me
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="Login"
              class="btn float-right login_btn"
            />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links"></div>
        <div class="d-flex justify-content-center">
          <a href="#">Go Back</a>
          <!-- TO DO ! Forgot your password part -->
        </div>
      </div>
    </div>
  </div>
</div>
