<div class="list-group">
  
<!-- Temporary solution, working on the establishing the right navigation to the posts in mongoDB -->
<a href="https://twitter.com/LidiaDa81393011" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Growing Tech Twitter Network</h5>
    <small class="text-muted">2 days ago</small>
  </div>
  <p class="mb-1">Hello to the tech world! I would love to grow my network and get to know great talented developers to 
     learn, communicate and cooperate together. Click on this post and check my Twitter Diary on my daily coding journey.
  </p>

</a>
<a class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">The idea for this blog</h5>
    <small>3 days ago</small>
  </div>
  <p class="mb-1">Hello! My name is Lidia. My initial plan was to create a Portfolio page. However, the more I thought on the structure, the more I realized that I would like to have a blog in addition to my portfolio.
    I am working on the content for now and plan to launch the official blog on tech topics. --COMING SOON--UNDER CONSTRUCTION
  </p>
</a>

 <!-- <TO DO FOR THE NEXT PART OF THE PROJECT: BACKEND a *ngFor="let post of posts" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ post.title }}</h5>
          <small>3 days ago</small>
      </div>
      <p class="mb-1">{{ post.description }}</p>

      <div class="d-flex w-100 justify-content-between">
      <small>read more...</small>

      <div>
        <i title="Edit" class="fas fa-edit"(click)="editPost(post)" aria-hidden="true"></i>
        <i title="Delete" data-target="#deleteModal" (click)="setDelete(template, post)" class="fas fa-trash-alt" aria-hidden="true"></i>
     </div>
     
    </div>
  </TO> -->
<!-- </div> -->


<!-- Modal popup code for the show post Component -->
<!-- Modal -->
<!-- <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document"> -->
    <ng-template #template>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure ?
      </div>
      <div class="modal-footer">
        <button #closeBtn (click)="unsetDelete()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button (click)="deletePost()" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </ng-template>
  <!-- </div>
</div> -->