<div class="container" [ngStyle]="{ 'background-image': 'url(../../assets/galaxy.jpg)' }"
appBackgroundImage
(imageLoaded)="loaded()">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h3>Register</h3>
        <a href="#">Go Back</a>
      </div>
      <div class="card-body">
        <form (submit)="register()">
          <div class="input-group form-group">
         
            <input type="text" class="form-control" name="email" placeholder="Enter your email" [(ngModel)]="credentials.email">
          </div>
          <div class="form-group">
            
            <input type="text" class="form-control" name="username" placeholder="Enter your Username" [(ngModel)]="credentials.username">
          </div>
          <div class="form-group">
           
            <input type="email" class="form-control" name="email" placeholder="Enter Password" [(ngModel)]="credentials.password">
          </div>
          <button type="submit" class="btn float-right register_btn">Register</button>
        </form>
      </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links"></div>
         </div>
      </div>
  </div>
</div>





<!-- ------------------------
<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <form (submit)="register()">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" class="form-control" name="email" placeholder="Enter your email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" class="form-control" name="username" placeholder="Enter your Username" [(ngModel)]="credentials.username">
        </div>
        <div class="form-group">
          <label for="email">Password</label>
          <input type="email" class="form-control" name="email" placeholder="Enter Password" [(ngModel)]="credentials.password">
        </div>
   
        <button type="submit" class="btn btn-lg btn-primary btn-block">Register!</button>
      </form>
    </div>
  </div>
</div> -->